errorstore (5).json
{"flowContents":{"identifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","instanceIdentifier":"7dd1bc68-0197-1000-089e-0a0459bdb7a5","name":"errorstore","comments":"","position":{"x":24.0,"y":992.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8612bd57-0197-1000-8cf9-63bef3db5e9d","instanceIdentifier":"174f33e6-1f30-3765-486e-652803d27c8e","name":"LogAttribute","comments":"","position":{"x":1304.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"65e75cdb-20b7-32dc-bb75-02af5e5f5f67","instanceIdentifier":"8610f3c2-0197-1000-c200-73e11486e0df","name":"LogAttribute","comments":"","position":{"x":536.0,"y":-712.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"7fcc44b4-0197-1000-6dbe-4b710445d893","instanceIdentifier":"a6d15eae-a26f-3cad-ae87-9ed331dad12a","name":"ExecuteScript","comments":"","position":{"x":104.0,"y":-48.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.InputStreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.util.regex.Pattern\nimport org.apache.nifi.processor.Relationship // Ensure this import is there\n\ndef flowFile = session.get()\nif (flowFile == null) {\n    return\n}\n\ndef originalFlowFileUuid = flowFile.getAttribute('uuid')\n\n// Define Relationship objects by iterating through available relationships from the context\ndef successRelationship = null\ndef failureRelationship = null\n\n// Iterate through the relationships provided by the ProcessContext\n// This method (getAvailableRelationships) should be present in all NiFi versions\n// as it's fundamental to how processors announce their relationships.\nfor (Relationship rel : context.getAvailableRelationships()) {\n    if (rel.getName() == 'success') {\n        successRelationship = rel\n    } else if (rel.getName() == 'failure') {\n        failureRelationship = rel\n    }\n    // No 'unmatched' here, as per your last clarification\n}\n\n// Perform basic null checks for relationships - these are critical here\nif (successRelationship == null) {\n    log.error(\"Relationship 'success' not found in ExecuteScript configuration! Cannot proceed. Removing FlowFile ${originalFlowFileUuid}.\")\n    session.remove(flowFile)\n    return\n}\nif (failureRelationship == null) {\n    log.error(\"Relationship 'failure' not found in ExecuteScript configuration! Cannot proceed. Removing FlowFile ${originalFlowFileUuid}.\")\n    session.remove(flowFile)\n    return\n}\n\ndef errorPattern = Pattern.compile(\".*ERROR.*\")\n\ntry {\n    def containsError = false\n    session.read(flowFile, { inputStream ->\n        def content = new String(inputStream.bytes, StandardCharsets.UTF_8)\n        if (errorPattern.matcher(content).find()) {\n            containsError = true\n        }\n    } as InputStreamCallback)\n\n    if (containsError) {\n        log.info(\"FlowFile ${originalFlowFileUuid} contains 'ERROR' and will be transferred to 'success'.\")\n        session.transfer(flowFile, successRelationship)\n    } else {\n        log.info(\"FlowFile ${originalFlowFileUuid} does NOT contain 'ERROR' and will be transferred to 'failure'.\")\n        session.transfer(flowFile, failureRelationship)\n    }\n\n} catch (e) {\n    log.error(\"Failed to process FlowFile ${originalFlowFileUuid} due to ${e.getMessage()}\", e)\n    session.transfer(flowFile, failureRelationship)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"77fa567c-3420-3f9c-82eb-e12fad357f1e","instanceIdentifier":"82f75f13-0197-1000-82d9-8719957010c2","name":"UpdateAttribute","comments":"","position":{"x":-104.0,"y":-760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"processgroup.id":"7cd9835a-0197-1000-51cd-f8f03f15c85d","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"processgroup.name":"example"},"propertyDescriptors":{"processgroup.id":{"name":"processgroup.id","displayName":"processgroup.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"processgroup.name":{"name":"processgroup.name","displayName":"processgroup.name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"7fe93193-cc61-318a-b783-371c4d34d4cb","instanceIdentifier":"7f9383a6-0197-1000-2a57-d64fb04a141d","name":"ExecuteScript","comments":"","position":{"x":64.0,"y":-488.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.InputStreamCallback // Import InputStreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.util.regex.Pattern\n\ndef flowFile = session.get()\nif (flowFile == null) {\n    return\n}\n\n// Regex to identify the start of a new log entry (timestamp pattern)\ndef timestampPattern = Pattern.compile(\"^\\\\d{4}-\\\\d{2}-\\\\d{2} \\\\d{2}:\\\\d{2}:\\\\d{2},\\\\d{3} .*\")\n\n// Get the UUID using getAttribute() for logging if needed\ndef originalFlowFileUuid = flowFile.getAttribute('uuid')\n\ntry {\n    // Corrected: Use InputStreamCallback\n    session.read(flowFile, { inputStream ->\n        def content = new String(inputStream.bytes, StandardCharsets.UTF_8)\n        def lines = content.split('\\n')\n\n        def currentLogEntry = new StringBuilder()\n        int entryCount = 0\n\n        lines.eachWithIndex { line, index ->\n            if (timestampPattern.matcher(line).find()) {\n                if (currentLogEntry.length() > 0) {\n                    def newFlowFile = session.create(flowFile) // Copies existing attributes from original FlowFile\n                    session.write(newFlowFile, { outputStream ->\n                        outputStream.write(currentLogEntry.toString().getBytes(StandardCharsets.UTF_8))\n                    } as org.apache.nifi.processor.io.OutputStreamCallback) // Also specify OutputStreamCallback here\n                    session.transfer(newFlowFile, REL_SUCCESS)\n                    entryCount++\n                }\n                currentLogEntry = new StringBuilder(line)\n            } else {\n                currentLogEntry.append('\\n').append(line)\n            }\n        }\n\n        if (currentLogEntry.length() > 0) {\n            def newFlowFile = session.create(flowFile)\n            session.write(newFlowFile, { outputStream ->\n                outputStream.write(currentLogEntry.toString().getBytes(StandardCharsets.UTF_8))\n            } as org.apache.nifi.processor.io.OutputStreamCallback) // Also specify OutputStreamCallback here\n            session.transfer(newFlowFile, REL_SUCCESS)\n            entryCount++\n        }\n\n        // Corrected line for logging:\n        log.info(\"Successfully split FlowFile ${originalFlowFileUuid} into ${entryCount} log entries.\")\n\n    } as InputStreamCallback) // Corrected: Use InputStreamCallback\n\n    session.remove(flowFile) // Remove the original FlowFile as it's been split\n\n} catch (e) {\n    // Corrected line for logging in the catch block:\n    log.error(\"Failed to split FlowFile ${originalFlowFileUuid} due to ${e.getMessage()}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"85cdb65b-0197-1000-c9a1-f1cdc34b575e","instanceIdentifier":"7f4a2d2b-dfbd-3b27-993e-aa38e6d808d4","name":"ExecuteScript","comments":"","position":{"x":1248.0,"y":-352.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.InputStreamCallback\nimport org.apache.nifi.processor.io.OutputStreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.util.regex.Pattern\n\ndef flowFile = session.get()\nif (!flowFile) {\n    return // No FlowFile to process\n}\n\ntry {\n    // 1. Access existing FlowFile attributes\n    def processGroupId = flowFile.getAttribute('processgroup.id')\n    def processGroupName = flowFile.getAttribute('processgroup.name')\n\n    // 2. Read the content of the FlowFile (the error log line)\n    def originalLogLine = new StringBuilder()\n    session.read(flowFile, { inputStream ->\n        originalLogLine.append(new String(inputStream.bytes, StandardCharsets.UTF_8))\n    } as InputStreamCallback)\n    def fullErrorMessage = originalLogLine.toString().trim()\n\n    // 3. Define Regex to extract:\n    //    Group 1: Timestamp from the beginning of the log line\n    //    Group 2: Processor Name\n    //    Group 3: Processor ID\n    //    Group 4: The specific error message details\n    def pattern = ~/(?s)^(\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2},\\d{3}) ERROR \\[.*?\\] .*? (\\w+)\\[id=([\\w-]+)\\] (.*)$/\n    def matcher = fullErrorMessage =~ pattern\n\n    def extractedTimestamp = \"UnknownTimestamp\" // Default value\n    def processorName = \"UnknownProcessor\"\n    def processorId = \"UnknownID\"\n    def specificErrorMessage = fullErrorMessage // Default to full message if regex fails\n\n    if (matcher.matches()) {\n        extractedTimestamp = matcher.group(1) // Captured timestamp\n        processorName = matcher.group(2)\n        processorId = matcher.group(3)\n        specificErrorMessage = fullErrorMessage\n    } else {\n        log.warn(\"ExecuteScript: Could not parse timestamp, processor name/ID from log line: {}\", fullErrorMessage)\n        // If regex fails, the specificErrorMessage defaults to fullErrorMessage, and timestamp/name/id will be \"Unknown\"\n    }\n\n    // 4. Construct the new formatted message with extracted timestamp\n    def outputMessage = \"\"\"ERROR Occured at Timestamp:${extractedTimestamp ?: 'N/A'} \n    Traceback of ERROR->\n    Process Group: ${processGroupName ?: 'N/A'}\n    Process Group Id: ${processGroupId ?: 'N/A'}\n    Processor Name: \"${processorName}\"\n    Processor Id: \"${processorId}\"\n    ERROR Message: \"${specificErrorMessage}\" \"\"\"\n\n    // 5. Write the new content back to the FlowFile\n    flowFile = session.write(flowFile, { outputStream ->\n        outputStream.write(outputMessage.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n\n    // Transfer the FlowFile to the success relationship\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (e) {\n    // Log the error and transfer FlowFile to failure\n    log.error(\"Failed to process flow file with UUID {}: {}\", flowFile.getAttribute('uuid'), e.message, e)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"53202a1e-1886-340a-b7ac-fe04ed227106","instanceIdentifier":"7eb0872f-0197-1000-ab9f-ddf3404f0237","name":"PutFile","comments":"","position":{"x":808.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/shtlp_0170/Videos/i2","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"8611c6cf-0197-1000-0795-9553a046eb6d","instanceIdentifier":"1a2b8404-f3ed-3059-3fc8-dc100df4bd33","name":"LogAttribute","comments":"","position":{"x":-328.0,"y":88.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"99919417-cd6e-3141-8f16-b159534ff943","instanceIdentifier":"7f6fe815-0197-1000-f6b6-9b5e0bf269b6","name":"UpdateAttribute","comments":"","position":{"x":632.0,"y":-488.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"0aeb2dff-4f73-3bc5-a70c-a88fa3058c7d","instanceIdentifier":"7dd30d53-0197-1000-b3b3-37fdacb2f7c9","name":"TailFile","comments":"","position":{"x":-968.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"/home/shtlp_0170/Downloads/nifi-2.4.0-bin/nifi-2.4.0/logs","reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/home/shtlp_0170/Downloads/nifi-2.4.0-bin/nifi-2.4.0/logs/nifi-app-ingestionpiplelineerrorlogs.log","tailfile-lookup-frequency":"0 sec","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"81d6a4be-0197-1000-c04a-3ab67e01ee86","instanceIdentifier":"1d807e59-85ab-3f8f-92a0-e2ea122ad777","name":"TailFile","comments":"","position":{"x":-864.0,"y":-656.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"/home/shtlp_0170/Downloads/nifi-2.4.0-bin/nifi-2.4.0/logs","reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/home/shtlp_0170/Downloads/nifi-2.4.0-bin/nifi-2.4.0/logs/nifi-app-example.log","tailfile-lookup-frequency":"0 sec","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"85f95c61-0197-1000-927b-ce4a378e8bfa","instanceIdentifier":"58aa386b-18c3-38fe-e1f6-bbe09f24bbe9","name":"UpdateAttribute","comments":"","position":{"x":-336.0,"y":-216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"processgroup.id":"5e0630cd-0197-1000-4e24-f5b0ad4c6cfd","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"processgroup.name":"Ingestion Pipeline for IT Support"},"propertyDescriptors":{"processgroup.id":{"name":"processgroup.id","displayName":"processgroup.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"processgroup.name":{"name":"processgroup.name","displayName":"processgroup.name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"86126c74-0197-1000-5a18-09c62447cc1f","instanceIdentifier":"c4d6c871-a986-3ca7-e2b0-970a1d27edb2","name":"LogAttribute","comments":"","position":{"x":1592.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ca6b1a13-e238-3e5a-99fe-ebb537906ad7","instanceIdentifier":"7fcd4023-0197-1000-7c1d-3485b8e28300","name":"","source":{"id":"7fcc44b4-0197-1000-6dbe-4b710445d893","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"a6d15eae-a26f-3cad-ae87-9ed331dad12a"},"destination":{"id":"99919417-cd6e-3141-8f16-b159534ff943","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"7f6fe815-0197-1000-f6b6-9b5e0bf269b6"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"45192112-151c-38f4-8d85-85151df75fd0","instanceIdentifier":"85cf7320-0197-1000-6a67-7152e5d7effe","name":"","source":{"id":"85cdb65b-0197-1000-c9a1-f1cdc34b575e","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f4a2d2b-dfbd-3b27-993e-aa38e6d808d4"},"destination":{"id":"53202a1e-1886-340a-b7ac-fe04ed227106","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"PutFile","comments":"","instanceIdentifier":"7eb0872f-0197-1000-ab9f-ddf3404f0237"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"a8bc1c1e-b84f-39fe-ae3d-8e519c52612f","instanceIdentifier":"7f674247-0197-1000-44e1-126206159602","name":"","source":{"id":"0aeb2dff-4f73-3bc5-a70c-a88fa3058c7d","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"TailFile","comments":"","instanceIdentifier":"7dd30d53-0197-1000-b3b3-37fdacb2f7c9"},"destination":{"id":"85f95c61-0197-1000-927b-ce4a378e8bfa","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"58aa386b-18c3-38fe-e1f6-bbe09f24bbe9"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"a6648597-437f-3a9d-8166-89c561ec9fb7","instanceIdentifier":"85fa2d40-0197-1000-46c3-cb0f70fe1472","name":"","source":{"id":"85f95c61-0197-1000-927b-ce4a378e8bfa","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"58aa386b-18c3-38fe-e1f6-bbe09f24bbe9"},"destination":{"id":"7fe93193-cc61-318a-b783-371c4d34d4cb","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f9383a6-0197-1000-2a57-d64fb04a141d"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"d3a01b83-3f62-36b2-b04c-efd15cfb8c5f","instanceIdentifier":"86128e01-0197-1000-92aa-9d396864ba92","name":"","source":{"id":"85cdb65b-0197-1000-c9a1-f1cdc34b575e","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f4a2d2b-dfbd-3b27-993e-aa38e6d808d4"},"destination":{"id":"86126c74-0197-1000-5a18-09c62447cc1f","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"LogAttribute","comments":"","instanceIdentifier":"c4d6c871-a986-3ca7-e2b0-970a1d27edb2"},"labelIndex":0,"zIndex":18,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"7df1b2d8-60e4-39c8-847b-23814af2e4c4","instanceIdentifier":"7fccb8bc-0197-1000-a95b-5ff3cd21c749","name":"","source":{"id":"7fe93193-cc61-318a-b783-371c4d34d4cb","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f9383a6-0197-1000-2a57-d64fb04a141d"},"destination":{"id":"7fcc44b4-0197-1000-6dbe-4b710445d893","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"a6d15eae-a26f-3cad-ae87-9ed331dad12a"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"4f4389b8-fd91-3fa1-aed0-950729462bc8","instanceIdentifier":"81d6bd78-0197-1000-ee6a-bc1701106c46","name":"","source":{"id":"81d6a4be-0197-1000-c04a-3ab67e01ee86","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"TailFile","comments":"","instanceIdentifier":"1d807e59-85ab-3f8f-92a0-e2ea122ad777"},"destination":{"id":"77fa567c-3420-3f9c-82eb-e12fad357f1e","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"82f75f13-0197-1000-82d9-8719957010c2"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"22095f43-b0d9-3e85-8c68-183f83423c53","instanceIdentifier":"86117109-0197-1000-bc47-ab7c97824771","name":"","source":{"id":"7fe93193-cc61-318a-b783-371c4d34d4cb","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f9383a6-0197-1000-2a57-d64fb04a141d"},"destination":{"id":"65e75cdb-20b7-32dc-bb75-02af5e5f5f67","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"LogAttribute","comments":"","instanceIdentifier":"8610f3c2-0197-1000-c200-73e11486e0df"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"2b930026-d4c1-3159-b13c-93a52635e85d","instanceIdentifier":"82fbd862-0197-1000-4540-af2f671a2a3c","name":"","source":{"id":"77fa567c-3420-3f9c-82eb-e12fad357f1e","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"82f75f13-0197-1000-82d9-8719957010c2"},"destination":{"id":"7fe93193-cc61-318a-b783-371c4d34d4cb","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f9383a6-0197-1000-2a57-d64fb04a141d"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"468b9128-f083-3730-8bdf-e1dbc6d3ac58","instanceIdentifier":"85d05532-0197-1000-8ab2-684885edf512","name":"","source":{"id":"99919417-cd6e-3141-8f16-b159534ff943","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"UpdateAttribute","comments":"","instanceIdentifier":"7f6fe815-0197-1000-f6b6-9b5e0bf269b6"},"destination":{"id":"85cdb65b-0197-1000-c9a1-f1cdc34b575e","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"7f4a2d2b-dfbd-3b27-993e-aa38e6d808d4"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"20a8fed4-272b-330a-936b-fdac7b8fde1f","instanceIdentifier":"8611e563-0197-1000-c18d-c9be0a6fd251","name":"","source":{"id":"7fcc44b4-0197-1000-6dbe-4b710445d893","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"ExecuteScript","comments":"","instanceIdentifier":"a6d15eae-a26f-3cad-ae87-9ed331dad12a"},"destination":{"id":"8611c6cf-0197-1000-0795-9553a046eb6d","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"LogAttribute","comments":"","instanceIdentifier":"1a2b8404-f3ed-3059-3fc8-dc100df4bd33"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"},{"identifier":"874d39c4-876b-34b4-8d41-29b67237cb74","instanceIdentifier":"8612d83f-0197-1000-79b4-2232c0187f22","name":"","source":{"id":"53202a1e-1886-340a-b7ac-fe04ed227106","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"PutFile","comments":"","instanceIdentifier":"7eb0872f-0197-1000-ab9f-ddf3404f0237"},"destination":{"id":"8612bd57-0197-1000-8cf9-63bef3db5e9d","type":"PROCESSOR","groupId":"e221371d-6354-3afb-b7d5-1c2df5cb6cea","name":"LogAttribute","comments":"","instanceIdentifier":"174f33e6-1f30-3765-486e-652803d27c8e"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e221371d-6354-3afb-b7d5-1c2df5cb6cea"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}