Ingestion_Pipeline_for_IT_Support (3).json
{"flowContents":{"identifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","instanceIdentifier":"5e0630cd-0197-1000-4e24-f5b0ad4c6cfd","name":"Ingestion Pipeline for IT Support","comments":"","position":{"x":904.0,"y":808.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"92a9a935-a054-35b6-87df-868c42aab0d8","instanceIdentifier":"5e73f5bd-0197-1000-1560-afd42a27a6d4","name":"EvaluateJsonPath","comments":"","position":{"x":-224.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","title":"$.title","Character Set":"UTF-8","content":"$.content","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content":{"name":"content","displayName":"content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"b49c8177-2a35-3699-83dc-946a65cdb7eb","instanceIdentifier":"6af2d56f-0197-1000-e8c4-86abc1ea9deb","name":"UpdateAttribute","comments":"","position":{"x":-664.0,"y":-368.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"doc.id":"${uuid}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"doc.id":{"name":"doc.id","displayName":"doc.id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6b0af4bf-0197-1000-e0ef-e4c8eaa0fd53","instanceIdentifier":"9d6f8ef3-6a23-30ed-f2dc-89a95b8d29c2","name":"LogAttribute","comments":"","position":{"x":296.0,"y":968.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"62e2a47b-0197-1000-a3a8-8945d979b586","instanceIdentifier":"9c2a24b1-79bf-32a0-d4cb-5b54143828bc","name":"LogAttribute","comments":"","position":{"x":1400.0,"y":0.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"f43bca2e-51f0-304e-a997-9b1560d295d7","instanceIdentifier":"5ec476df-0197-1000-91d1-e5ae543930e5","name":"InvokeHTTP","comments":"","position":{"x":712.0,"y":128.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://us-tax-law-rag-demo.openai.azure.com/openai/deployments/text-embedding-ada-002/embeddings?api-version=2024-08-01-preview","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"api-key","identifiesControllerService":false,"sensitive":true,"dynamic":true},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"9f0434c6-1295-34f3-8715-0fede685c9b7","instanceIdentifier":"60598d5d-0197-1000-88de-cfa878ef9254","name":"EvaluateJsonPath","comments":"","position":{"x":936.0,"y":352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","embedding.vector":"$.data[0].embedding","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"embedding.vector":{"name":"embedding.vector","displayName":"embedding.vector","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6b0c987f-0197-1000-b12b-5c54ebef3631","instanceIdentifier":"23f0c3fc-e849-3f7c-5278-c8852505e0b3","name":"LogAttribute","comments":"","position":{"x":1240.0,"y":632.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"29f2c560-1b10-3e83-9a7e-320feaffada3","instanceIdentifier":"5e934ebf-0197-1000-1db0-63a395a537be","name":"ReplaceText","comments":"","position":{"x":712.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{ \"input\": \"${chunk.text:escapeJson()}\" }","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"62e3256b-0197-1000-7b28-4cd693987a71","instanceIdentifier":"6668b8e2-65c9-3254-b2d8-23f1f9d30c2a","name":"LogAttribute","comments":"","position":{"x":664.0,"y":656.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"embedding.vector","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"63fc62d7-46d7-368e-aba8-1df7b00d70a8","instanceIdentifier":"5e82d2d4-0197-1000-3342-a2e9bdb9b8cd","name":"chunking","comments":"","position":{"x":336.0,"y":-344.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.nio.charset.StandardCharsets\nimport java.util.HashMap\nimport java.util.regex.Pattern\nimport java.util.UUID\n\n// Define max chunk length in characters.\n// Adjust based on your embedding model's token limit (e.g., for ~1500 tokens, ~6000 characters is a rough estimate).\n// Always test with your specific model.\nfinal int MAX_CHUNK_LENGTH = 500\n\nFlowFile flowFile = session.get()\nif (flowFile != null) {\n    String originalId = null\n    String originalTitle = \"\"\n    String originalContent = \"\"\n\n    try {\n        Map<String, String> originalAttrs = new HashMap<>(flowFile.getAttributes())\n\n        // --- COMPREHENSIVE FIX START: Explicitly cast all attribute retrievals and GStrings to String ---\n        // Ensure originalId is a String, handling potential GStringImpl from attributes\n        originalId = originalAttrs.get(\"id\") as String \n        originalTitle = (originalAttrs.get(\"title\") ?: \"\") as String \n        originalContent = (originalAttrs.get(\"content\") ?: \"\") as String \n\n        if (originalId == null || originalId.trim().isEmpty()) {\n            originalId = UUID.randomUUID().toString() as String // Ensure UUID is a String\n            log.debug(\"No original 'id' attribute found. Generated new ID: ${originalId}\")\n        }\n\n        if (originalContent.trim().isEmpty()) {\n            log.warn(\"FlowFile ${originalId} has empty or whitespace-only content, skipping chunking.\")\n            session.transfer(flowFile, REL_SUCCESS)\n            return\n        }\n\n        // --- Simple Sentence-based Chunking ---\n        Pattern sentencePattern = Pattern.compile(\"(?<!\\\\w\\\\.\\\\w.)(?<![A-Z][a-z]\\\\.)(?<=\\\\.|\\\\?|\\\\!)\\\\s\")\n        List<String> sentences = sentencePattern.split(originalContent).collect { it.trim() }.findAll { !it.isEmpty() }\n\n        List<String> chunks = []\n        List<String> currentChunkSentences = []\n        int currentChunkLength = 0\n\n        for (String sentence : sentences) {\n            // sentence is already String from split()\n            int estimatedNewChunkLen = currentChunkLength + sentence.length() + originalTitle.length() + 50\n            \n            if (estimatedNewChunkLen < MAX_CHUNK_LENGTH) {\n                currentChunkSentences.add(sentence)\n                currentChunkLength += sentence.length() + 1\n            } else {\n                if (!currentChunkSentences.isEmpty()) {\n                    // Ensure join result is a String before adding to chunks List<String>\n                    chunks.add(currentChunkSentences.join(\" \") as String) \n                }\n                currentChunkSentences = [sentence] // sentence is String\n                currentChunkLength = sentence.length() + 1\n            }\n        }\n\n        if (!currentChunkSentences.isEmpty()) {\n            // Ensure join result is a String before adding to chunks List<String>\n            chunks.add(currentChunkSentences.join(\" \") as String) \n        }\n        // --- End Simple Chunking ---\n\n        if (chunks.isEmpty()) {\n            log.warn(\"No chunks generated for FlowFile ${originalId}. Content might be too short or chunking logic failed.\")\n            session.transfer(flowFile, REL_SUCCESS)\n            return\n        }\n\n        for (int i = 0; i < chunks.size(); i++) {\n            String chunkText = chunks.get(i) as String // Ensure chunkText is a String\n            FlowFile childFlowFile = session.create(flowFile)\n\n            // Fixed: Added 'inputStream' to the closure signature for StreamCallback\n            childFlowFile = session.write(childFlowFile, { inputStream, outputStream -> \n                outputStream.write(chunkText.getBytes(StandardCharsets.UTF_8))\n            } as StreamCallback)\n\n            Map<String, String> newAttrs = new HashMap<>(originalAttrs)\n            \n            // Ensure values put into Map<String, String> are actual Strings\n            newAttrs.put(\"chunk.number\", String.valueOf(i + 1) as String) \n            newAttrs.put(\"chunk.text\", chunkText)\n            newAttrs.put(\"chunk.id\", UUID.randomUUID().toString() as String) // Key fix for GStringImpl\n            childFlowFile = session.putAllAttributes(childFlowFile, newAttrs)\n            \n            session.transfer(childFlowFile, REL_SUCCESS)\n        }\n        \n        session.remove(flowFile)\n        \n    } catch (Exception e) {\n        log.error(\"Failed to chunk FlowFile ${originalId ?: 'unknown'}: ${e.getMessage()}\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"32a86fdc-05d7-3b01-a148-961afaa94e3b","instanceIdentifier":"6ea83997-0197-1000-27ac-527ab7df14a5","name":"HandleHttpResponse","comments":"","position":{"x":-592.0,"y":696.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"HTTP Context Map":"13011b15-acaf-3c92-84fe-62b10b859af8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6b0a59c4-0197-1000-4017-301522892d90","instanceIdentifier":"d11932e3-a5ed-3ec6-945e-db47c9fb9ee5","name":"LogAttribute","comments":"","position":{"x":224.0,"y":112.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"d37e07e3-4e96-3be4-a636-208e5cd1ad9c","instanceIdentifier":"6e6c6cbd-0197-1000-78ea-3ef09fb07447","name":"HandleHttpRequest","comments":"","position":{"x":-1136.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"false","Request Header Maximum Size":"8 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"13011b15-acaf-3c92-84fe-62b10b859af8","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/query","Allow GET":"true","Allow HEAD":"true","Listening Port":"8094","Client Authentication":"No Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"62e2385e-0197-1000-5550-609d10bba3b2","instanceIdentifier":"7a6cfedb-6cd0-37cb-76cb-a5f34e8bb007","name":"LogAttribute","comments":"","position":{"x":1368.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6b0f7958-0197-1000-832e-ff0d78a6dc0f","instanceIdentifier":"fc3df874-d064-3080-ef51-4d1941ded0d5","name":"LogAttribute","comments":"","position":{"x":-664.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6849b553-0197-1000-d314-40cad6b0d0ed","instanceIdentifier":"bce4a684-15b6-3d24-ba52-fca54bf903f9","name":"LogAttribute","comments":"","position":{"x":-488.0,"y":352.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"embedding.vector","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"62e1e4dd-0197-1000-bb2c-63905f1b94e3","instanceIdentifier":"876aa44c-d785-3627-e02e-afe7bb619734","name":"LogAttribute","comments":"","position":{"x":768.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"6b0e0b2d-0197-1000-e529-aed1933f4de6","instanceIdentifier":"392ad63c-d9c3-3eb1-56a8-a5d2c4911d77","name":"LogAttribute","comments":"","position":{"x":472.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"62e16ae5-0197-1000-9787-527a31075994","instanceIdentifier":"9442d1e6-610d-3383-6445-b4b4d57fb5fa","name":"LogAttribute","comments":"","position":{"x":-216.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"06f9404a-7789-376d-b138-50e174b649ae","instanceIdentifier":"65a1e160-0197-1000-9954-db88e376b3c1","name":"ReplaceText","comments":"","position":{"x":200.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"class\": \"Itsupport\",\n  \"id\": \"${chunk.id}\",\n  \"properties\": {\"document_id\": \"${doc.id}\",\n    \"title\": \"${title}\",\n    \"text_content\": \"${chunk.text:escapeJson()}\",\n    \"chunk_number\": ${chunk.number}\n  },\n  \"vector\": ${embedding.vector}\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"529ad28d-f64e-31cc-a932-3fc17b5a4311","instanceIdentifier":"60809057-0197-1000-4e4b-0660b1a6aca6","name":"InvokeHTTP","comments":"","position":{"x":40.0,"y":728.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://uyhefxmrqg2jkqla8ty3aq.c0.asia-southeast1.gcp.weaviate.cloud/v1/objects","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aa464600-4195-3047-adf5-c8eaedb6779b","instanceIdentifier":"6b0b1697-0197-1000-d6c2-e90459717430","name":"","source":{"id":"529ad28d-f64e-31cc-a932-3fc17b5a4311","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"60809057-0197-1000-4e4b-0660b1a6aca6"},"destination":{"id":"6b0af4bf-0197-1000-e0ef-e4c8eaa0fd53","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"9d6f8ef3-6a23-30ed-f2dc-89a95b8d29c2"},"labelIndex":0,"zIndex":36,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"a396f802-36e0-34aa-ac21-561a19f40b0b","instanceIdentifier":"6b0a7b50-0197-1000-be16-bb812a0ee865","name":"","source":{"id":"06f9404a-7789-376d-b138-50e174b649ae","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"65a1e160-0197-1000-9954-db88e376b3c1"},"destination":{"id":"6b0a59c4-0197-1000-4017-301522892d90","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"d11932e3-a5ed-3ec6-945e-db47c9fb9ee5"},"labelIndex":0,"zIndex":35,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"27fc1459-1ab8-3754-92e3-f1b93eaa7b9d","instanceIdentifier":"6b0cc271-0197-1000-9363-304d9f0f973e","name":"","source":{"id":"9f0434c6-1295-34f3-8715-0fede685c9b7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60598d5d-0197-1000-88de-cfa878ef9254"},"destination":{"id":"6b0c987f-0197-1000-b12b-5c54ebef3631","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"23f0c3fc-e849-3f7c-5278-c8852505e0b3"},"labelIndex":0,"zIndex":37,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"b0824a75-795b-33e2-a303-2ec3b007e357","instanceIdentifier":"6e723b8c-0197-1000-9819-d412928dd913","name":"","source":{"id":"d37e07e3-4e96-3be4-a636-208e5cd1ad9c","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"HandleHttpRequest","comments":"","instanceIdentifier":"6e6c6cbd-0197-1000-78ea-3ef09fb07447"},"destination":{"id":"b49c8177-2a35-3699-83dc-946a65cdb7eb","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6af2d56f-0197-1000-e8c4-86abc1ea9deb"},"labelIndex":0,"zIndex":41,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"1e591eab-4a80-3b5f-a03c-f9a6692d7647","instanceIdentifier":"602a8439-0197-1000-25e0-8d56b2b21b17","name":"","source":{"id":"29f2c560-1b10-3e83-9a7e-320feaffada3","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"5e934ebf-0197-1000-1db0-63a395a537be"},"destination":{"id":"f43bca2e-51f0-304e-a997-9b1560d295d7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"5ec476df-0197-1000-91d1-e5ae543930e5"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"aa3fd900-804f-3de0-bbb5-c4469aef19f0","instanceIdentifier":"62e343d0-0197-1000-50c6-2a5dfaf84923","name":"","source":{"id":"9f0434c6-1295-34f3-8715-0fede685c9b7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60598d5d-0197-1000-88de-cfa878ef9254"},"destination":{"id":"62e3256b-0197-1000-7b28-4cd693987a71","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"6668b8e2-65c9-3254-b2d8-23f1f9d30c2a"},"labelIndex":0,"zIndex":22,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"520170ca-b268-370f-8a4d-c0e88ea21d11","instanceIdentifier":"65d8899b-0197-1000-4f24-c9b5f40d8f97","name":"","source":{"id":"06f9404a-7789-376d-b138-50e174b649ae","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"65a1e160-0197-1000-9954-db88e376b3c1"},"destination":{"id":"529ad28d-f64e-31cc-a932-3fc17b5a4311","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"60809057-0197-1000-4e4b-0660b1a6aca6"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"08eb3e80-0f11-398e-8b0c-ca51a57de640","instanceIdentifier":"6b0f97f1-0197-1000-df1c-5978e2401df5","name":"","source":{"id":"b49c8177-2a35-3699-83dc-946a65cdb7eb","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6af2d56f-0197-1000-e8c4-86abc1ea9deb"},"destination":{"id":"6b0f7958-0197-1000-832e-ff0d78a6dc0f","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"fc3df874-d064-3080-ef51-4d1941ded0d5"},"labelIndex":0,"zIndex":39,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"b9d6c744-2c70-37d3-bafe-7fadd6fe01cf","instanceIdentifier":"5e99de4c-0197-1000-d3f8-5185d8252353","name":"","source":{"id":"63fc62d7-46d7-368e-aba8-1df7b00d70a8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"chunking","comments":"","instanceIdentifier":"5e82d2d4-0197-1000-3342-a2e9bdb9b8cd"},"destination":{"id":"29f2c560-1b10-3e83-9a7e-320feaffada3","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"5e934ebf-0197-1000-1db0-63a395a537be"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"2a360ae5-0a66-3ac7-8082-802ea8a2f7da","instanceIdentifier":"6ea8ba10-0197-1000-f95f-501ecf2fb936","name":"","source":{"id":"529ad28d-f64e-31cc-a932-3fc17b5a4311","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"60809057-0197-1000-4e4b-0660b1a6aca6"},"destination":{"id":"32a86fdc-05d7-3b01-a148-961afaa94e3b","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"6ea83997-0197-1000-27ac-527ab7df14a5"},"labelIndex":0,"zIndex":42,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"c37cef9f-fbbd-3e0a-b6bb-28a7e3d8f36a","instanceIdentifier":"62e193b0-0197-1000-524e-6b03addfd396","name":"","source":{"id":"92a9a935-a054-35b6-87df-868c42aab0d8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e73f5bd-0197-1000-1560-afd42a27a6d4"},"destination":{"id":"62e16ae5-0197-1000-9787-527a31075994","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"9442d1e6-610d-3383-6445-b4b4d57fb5fa"},"labelIndex":0,"zIndex":18,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"e933b687-3f16-392d-aaea-8d203cc25cc0","instanceIdentifier":"65f79172-0197-1000-1aad-c5feffbdea25","name":"","source":{"id":"f43bca2e-51f0-304e-a997-9b1560d295d7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"5ec476df-0197-1000-91d1-e5ae543930e5"},"destination":{"id":"9f0434c6-1295-34f3-8715-0fede685c9b7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60598d5d-0197-1000-88de-cfa878ef9254"},"labelIndex":0,"zIndex":31,"selectedRelationships":["Response","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"9ccfe86f-fec4-33c7-9832-055f8fec0b58","instanceIdentifier":"5e89cd7f-0197-1000-7cd7-84884d9de617","name":"","source":{"id":"92a9a935-a054-35b6-87df-868c42aab0d8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e73f5bd-0197-1000-1560-afd42a27a6d4"},"destination":{"id":"63fc62d7-46d7-368e-aba8-1df7b00d70a8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"chunking","comments":"","instanceIdentifier":"5e82d2d4-0197-1000-3342-a2e9bdb9b8cd"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"d98e4082-ad5c-3655-a1b9-7134a68bc722","instanceIdentifier":"62e205af-0197-1000-4c74-ba23139aefd8","name":"","source":{"id":"63fc62d7-46d7-368e-aba8-1df7b00d70a8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"chunking","comments":"","instanceIdentifier":"5e82d2d4-0197-1000-3342-a2e9bdb9b8cd"},"destination":{"id":"62e1e4dd-0197-1000-bb2c-63905f1b94e3","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"876aa44c-d785-3627-e02e-afe7bb619734"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"19ccf670-3fff-3f02-9dae-ce61f9de1a7e","instanceIdentifier":"6af74510-0197-1000-0a92-0c814e962956","name":"","source":{"id":"b49c8177-2a35-3699-83dc-946a65cdb7eb","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6af2d56f-0197-1000-e8c4-86abc1ea9deb"},"destination":{"id":"92a9a935-a054-35b6-87df-868c42aab0d8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e73f5bd-0197-1000-1560-afd42a27a6d4"},"labelIndex":0,"zIndex":34,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"ee9a5f76-e4c4-3f95-98fb-991f95ba2042","instanceIdentifier":"6b0e8510-0197-1000-4673-7c9d0c6c6ed5","name":"","source":{"id":"92a9a935-a054-35b6-87df-868c42aab0d8","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e73f5bd-0197-1000-1560-afd42a27a6d4"},"destination":{"id":"6b0e0b2d-0197-1000-e529-aed1933f4de6","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"392ad63c-d9c3-3eb1-56a8-a5d2c4911d77"},"labelIndex":0,"zIndex":38,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"60573d17-3fbd-3c87-9d49-1627c7b58dcf","instanceIdentifier":"65fa0595-0197-1000-d4d6-6c21b44c3228","name":"","source":{"id":"9f0434c6-1295-34f3-8715-0fede685c9b7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60598d5d-0197-1000-88de-cfa878ef9254"},"destination":{"id":"06f9404a-7789-376d-b138-50e174b649ae","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"65a1e160-0197-1000-9954-db88e376b3c1"},"labelIndex":0,"zIndex":32,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"2dc51ff0-ebdd-363d-aa4e-2a60a42d159b","instanceIdentifier":"62e2596e-0197-1000-aac5-cd143d9da402","name":"","source":{"id":"29f2c560-1b10-3e83-9a7e-320feaffada3","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"5e934ebf-0197-1000-1db0-63a395a537be"},"destination":{"id":"62e2385e-0197-1000-5550-609d10bba3b2","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"7a6cfedb-6cd0-37cb-76cb-a5f34e8bb007"},"labelIndex":0,"zIndex":20,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"8ae8ff71-b1b2-3500-b592-399637206178","instanceIdentifier":"684a0900-0197-1000-ecc3-7652741b151c","name":"","source":{"id":"06f9404a-7789-376d-b138-50e174b649ae","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"ReplaceText","comments":"","instanceIdentifier":"65a1e160-0197-1000-9954-db88e376b3c1"},"destination":{"id":"6849b553-0197-1000-d314-40cad6b0d0ed","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"bce4a684-15b6-3d24-ba52-fca54bf903f9"},"labelIndex":0,"zIndex":33,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"},{"identifier":"a9015880-4a55-31c9-af06-0c185ef93a31","instanceIdentifier":"62e2dd03-0197-1000-e218-0d26350bb5d8","name":"","source":{"id":"f43bca2e-51f0-304e-a997-9b1560d295d7","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"InvokeHTTP","comments":"","instanceIdentifier":"5ec476df-0197-1000-91d1-e5ae543930e5"},"destination":{"id":"62e2a47b-0197-1000-a3a8-8945d979b586","type":"PROCESSOR","groupId":"e67a2845-dcbb-3ddb-9444-7802608b9c5e","name":"LogAttribute","comments":"","instanceIdentifier":"9c2a24b1-79bf-32a0-d4cb-5b54143828bc"},"labelIndex":0,"zIndex":21,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"13011b15-acaf-3c92-84fe-62b10b859af8","instanceIdentifier":"6e731ed9-0197-1000-0f29-b0e64dc5e74c","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.4.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e67a2845-dcbb-3ddb-9444-7802608b9c5e"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}